node_modules
landing
xerolas-cloud/
dist
dist-electron
release
*.log
.env
.env.*
.DS_Store
.codex
config/app-config.local.json
build/app-config.json
.vercel
.vercelignore
vercel.json

.next
Capacity - Turn that idea you had in mind into a website_files/

*.md
!README.md
Xerolas.gif
